---
title: About
layout: home
---
#about
  %h2
    ABOUT ME
  .section
    %p
      Hi, my name is Alex Vollmer and I live in Seattle, WA.
      I get paid to write software, which is something I would
      probably do in my free-time anyway (shhh&hellip;don't tell 
      anyone). When I'm not nerding-out, I like to play my 
      guitars, get out on the bike, read history books and spend 
      time with my family and friends.
    %p
      Since I'm a child of the web, you can find me on the
      interwebs in all the usual places:

  .section#twitter
    %h3 twitter
    = render "_twitter"

  .section#github
    %h3 github
    = render "_github"

  .section#linkedin
    %h3 linked in
    = render "_linkedin"

  .section#flickr
    %h3 flickr
    = render "_flickr"

  .section#goodreads
    %h3 goodreads
    = render "_goodreads"