-----
-----
<% render 'home' do %>
<div id="post">
  <h2><a href="/posts/<%= @item.full_path %>/">
    <%= @item.title %>
  </a></h2>
  <div id="date">published <%= @item.short_date %></div>
  <div id="tags">
    filed under:
<% @item.tags.each do |tag| %>
    <a href="/tags/<%= tag %>/"><%= tag %></a>&nbsp;
<% end %>
  </div>
  <br/>
  <div id="content">
  <%= yield %>
  </div>
</div>
<% end %>