-----
-----
- render 'home' do
  #post
    %h2
      %a{ :href => "/posts/#{@item.full_path}/" }
        = @item.title
      %a#comment_count{ :href => "/posts/#{@item.full_path}/\#disqus_thread" }
        comments
    #date
      published
      = @item.short_date
    #tags
      filed under:
      - @item.tags.each do |tag|
        %a{ :href => "/tags/#{tag}/" }
          = tag
          \&nbsp;
    %br
    #content
      ~ yield

  %a{ :name => "disqus_thread", :id => "disqus_thread_link" }
    = render "_disqus"
